*{
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}
.text-align-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.success{
    color: #2ecc71;
    font-weight: bolder;
}
.failed{
    color: #e74c3c;
    font-weight: bolder;
}
/*css for menu*/

.menu{
    background-color: #490E63;
}
ul li{
    text-align: right;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 1%;
    font-size: large;
    }
ul li a:hover{
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
}
/*css for main content*/
.main-content{
    background-color: #E3E0E7 ;
}
.col-4{
    width: 12%;
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    padding: 3%;
    float: left;
}
/*css for manage-admin*/
.tbl-full{
    width: 100%;
  
}
table tr th{
    border-bottom: 1px solid #7F0FF6 ;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    padding: 1%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    

}
.btn-change-password{
    padding: 1.5%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
    
}
.btn-primary:hover{
    background-color: #490E63;
    border-radius: 5px;
    font-weight: bold;
    
}
.btn-secondary{
    padding: 1.5%;
    color: white;
    background-color:#2ecc71;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;

    

}
.btn-secondary:hover{
    background-color: #27ae60;
    border-radius: 5px;

    
}

.btn-danger{
    padding: 1.5%;
    color: white;
    background-color:#e74c3c;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;

    

}
.btn-danger:hover{
    background-color: #c0392b;
    border-radius: 5px;

    
}
/*css for add-admin*/
.cardview{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
}
.tbl-30{
    width: 50%;
}
.tbl-30 tr td{
    font-weight: bold;
    font-size: small;
}
.tbl-70{
    width: 70% ;

}
.tbl-70 tr td{
    font-weight: bold;
    size: small;
}
/*css for footer*/
.footer{
    background-color: #7F0FF6;
   color: white;
}
.footer .wrapper p a{
    color: white;
}