*{
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Righteous', cursive;
    color: #8e44ad;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}
.text-align-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.success{
    color: #2ecc71;
    font-weight: bolder;
}
.failed{
    color: #e74c3c;
    font-weight: bolder;
}
/*css for menu*/

.menu{
    background-color: #490E63;


}
ul li{
    text-align: right;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 1%;
    font-size: large;
    }
ul li a:hover{
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    background-color: #9b59b6;
}
#logout-btn{
    background-color: white;
    color: black;
    /*&border-radius: 3px;*/
}
/*css for main content*/
.main-content{
    background-color: #E3E0E7 ;
}
.col-4{
    width: 12%;
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    padding: 3%;
    float: left;
}
/*css for manage-admin*/
.tbl-full{
    width: 100%;
  
}
table tr th{
    border-bottom: 1px solid #7F0FF6 ;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    padding: 1%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
   /* border-radius: 5px;*/
    font-weight: bold;
    

}
.btn-change-password{
    padding: 1.5%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
    
}
.btn-primary:hover{
    background-color: #490E63;
   /* border-radius: 5px;*/
    font-weight: bold;
    
}
.btn-secondary{
    padding: 1.5%;
    color: white;
    background-color:#2ecc71;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;

    

}
.btn-secondary:hover{
    background-color: #27ae60;
    border-radius: 5px;

    
}

.btn-danger{
    padding: 1.5%;
    color: white;
    background-color:#e74c3c;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;

    

}
.btn-danger:hover{
    background-color: #c0392b;
    border-radius: 5px;

    
}
/* update delete button in manage category page*/
.btn-secondary-delete-update{
    padding: 3%;
    color: white;
    background-color:#2ecc71;
    text-decoration: none;
    border-radius: 5px;
    font-size: medium;

    

}
.btn-secondary-delete-update:hover{
    background-color: #27ae60;
    border-radius: 5px;

    
}

.btn-danger-delete-update{
    padding: 3%;
    color: white;
    background-color:#e74c3c;
    text-decoration: none;
    border-radius: 5px;
    font-size: medium;

    

}
.btn-danger-delete-update:hover{
    background-color: #c0392b;
    border-radius: 5px;

    
}
/*css for add-admin*/
.cardview{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
}
.login-background{
   /* background-color: #490E63;*/
   background-image: url(../images/admin-bg-opacity.png);
   background-position: center;
   background-size: cover;
   background-color: #cccccc;
    padding:1%;
}
.login{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    margin:8% auto;
    
}
.login h1{
    font-size: 50px;
    padding: 2%;
    font-family: 'Pacifico', cursive;
    color:#9b59b6 ;
}
.login-form-label{
   padding-left: 30%;
   font-size: 15px;
   padding-top: 2%;
}

.login-footer{
    color: black;
        font-size: 15px;
        font-family: 'Radio Canada', sans-serif;}
.login-footer a{
    color: #9b59b6;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;}

.login form input{
   /* background-color: #9b59b6;*/
    height: 4%;
    width: 40%;
    padding: 1%;
    color: black;
}
.login .login-button {
    padding: 1%;
    width: 25%;
    height: 5%;
    color: white;
    
}

.tbl-30{
    width: 50%;
}
.tbl-30 tr td{
    font-weight: bold;
    font-size: small;
}
.tbl-70{
    width: 70% ;

}
.tbl-70 tr td{
    font-weight: bold;
    size: small;
}

.admin-table-data{
    font-weight: bold;
}

.btn-category{
    padding: 5%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
}
.btn-category:hover{
    background-color: #490E63;
}
.btn-admin{
    padding: 3%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
}
.btn-update-category{
    padding: 3%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
}
.btn-admin:hover{
    background-color: #490E63;
}
.btn-update-admin{
    padding: 3%;
    color: white;
    background-color:#8e44ad;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
}
.btn-update-admin:hover{
    background-color: #490E63;
}
/*css for footer*/
.footer{
    background-color: #7F0FF6;
   color: white;
}
.footer .wrapper p a{
    color: white;
}